

// // .text-input input {
// //     height: 2rem;
// //     width: 100%;
// //     border-radius: 16px;
// // }

// .header-page-content--header{
//     color: black;
//     // margin-bottom: $spacing--small;
//     padding: $spacing--small;
//     background: #efefef;
// }

// //****************layout using grid **************************//

// $height-header: 50px;
// $height-footer: 50px;
// $width-sidenav: 80px;

// .grid-container{
//     display: grid;
//     position: relative;
//     grid-template-columns: $width-sidenav 1fr;
//     grid-template-rows: $height-header 1fr $height-footer;
//     grid-template-areas: 
//         "sidenav header"
//         "sidenav main"
//         "sidenav footer";
//     height: 100vh;
// }

// .header{
//     grid-area: header;
//     background-color: #fff;
//     border-bottom: 0.5px solid #E0E7ED;
//     &__avatar{
//         margin-left: auto;
//         &--image{
//             height: 40px;
//             width: 40px;
//             border-radius: 50%;
//         }
//     }
// }

// .sidenav{
//     grid-area: sidenav;
//     background-color: lighten(#D1232B, 1%);
//     background-color: #303030;
//     &__list{
//         list-style-type: none;
//         &--item{
//             padding: .5rem;
//             color: #ddd;
//             text-align: center;
//         &:hover{
//             background-color: rgba(255, 255, 255, 0.2);
//             cursor: pointer;
//             }
//         }
//     }
// }

// .main{
//     grid-area: main;
//     background-color: #EAEDF1;
//     .main-overview {
//         display: grid;
//         grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
//         grid-auto-rows: 94px;
//         grid-gap: 20px;
//         margin: 20px;
//       }
      
//       .overviewcard {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         padding: 20px;
//         background-color: #d3d3;
//         transform: translateY(0);
//         transition: all .3s;
//         &:hover{
//             transform: translateY(-3px);
//             box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
//             cursor: pointer;
//         }
//         &--green{
//             background: #80D994;
//             background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0, .25));
//             .dashboard__card--icon{
//                 fill: #fff;
//             }
//         }
//         &--blue{
//             background: #5AB3E5;
//             background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0, .25));
//             .dashboard__card--icon{
//                 fill: #fff;
//             }
//         }
//         &--yellow{
//             background: #FADD59;
//             background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0, .25));
//             .dashboard__card--icon{
//                 fill: #fff;
//             }
//         }
//         &--red{
//             background: lighten(#D1232B, 8%);
//             background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0, .25));
//             .dashboard__card--icon{
//                 fill: #fff;
//             }
//         }
//     }
// }


// .main-cards {
//     column-count: 2;
//     column-gap: 20px;
//     margin: 20px;
//   }
  
//   /* Force varying heights to simulate dynamic content */
//   .card:first-child {
//     height: 485px;
//   }
//   .card:nth-child(2) {
//     height: 200px;
//   }
//   .card:nth-child(3) {
//     height: 265px;
//   }


//   .card{
//     display: flex;
//   flex-direction: column;
//   width: 100%;
//   background-color: #fff;
//   margin-bottom: 20px;
//   -webkit-column-break-inside: avoid;

//   &__header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     height: 50px;
//     background-color: darken(#D1232B, 1%);
//     color: #fff;

//     &-title {
//       margin: 0 20px;
//       font-size: 20px;
//       letter-spacing: 1.2px;
//     }

//     // &-link {
//     //   font-size: 16px;
//     //   color: $color-java;
//     //   letter-spacing: normal;
//     //   display: inline-block;
//     // }
//   }

//   &__main {
//     position: relative;
//     padding-right: 20px;
//     background-color: #fff;

//     &:after {
//       content: "";
//       position: absolute;
//       top:0;
//       left: 120px;
//       bottom: 0;
//       width: 2px;
//       background-color: #f0f0f0;
//     }
//   }

//   &__row {
//     position: relative;
//     display: flex;
//     flex: 1;
//     margin: 15px 0 20px;
//   }

//   &__detail {
//     display: flex;
//     flex: 1;
//     flex-direction: column;
//     padding-left: 12px;
//     margin-left: 48px;
//     transform: translateX(0);
//     transition: all .3s;

//     &:hover {
//       background-color: #f0f0f0;
//       transform: translateX(4px);
//       cursor: pointer;
//     }
//   }
// }


// .footer{
//     grid-area: footer;
//     background-color: #fff;
// }
// .header, .footer{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     // padding: 0 16px;
// }

// .sidenav__list{
//     &--item{

//     }
//     &--link{
//         display: block;
//         padding: 1rem 0;
//     }
// } 


// //**** Client Page ****//

// .client-tabs{
//     &__list{
//         margin-bottom: 0;
//     }
//     &__tab{
//         // background-color: #fff;
//         padding: 1rem 2rem;
//     }
// }

// .header-panel {
//     display: flex;
//     flex-direction: column;
//     padding: 0 1rem;
//     height: 100px; /* Force our height since we don't have actual content yet */
//     background-color: #e3e4e6;
//     background-color: #fff;
//     color: slategray;
//     &__header{
//         padding: .5rem 0;
//         border-bottom: .5px solid #E0E7ED;;
//     }
//     &__tabs{
//         margin-top: auto;
//     }
//     &__tab{
//         border: 0;
//         display: inline-block;
//         background-color: transparent;
//         margin-right: 1rem;
//         cursor: pointer;
//         &--selected{
//             font-weight: bold;
//             border-bottom: 3px solid #0085DE;
//             padding-bottom: .5rem;
//             font-weight: 600;
//         }
//     }
// }



.app{
    height: 100%;
    display: grid;
    // grid-template-columns: repeat(12, 1fr);
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
}

// .header{
//     grid-column: 1 / -1;
//     background-color: $gray-dark;
// }

.sidebar{
    width: 180px;
    background-color: $gray-light;
}

.content{
    background-color: $gray;
    // grid-column: 1 / -1;

}
// .footer{
//     grid-column: 1 / -1;
//     background-color: $gray-dark;
// }

